<!doctype html>
<html>
    </head>
    <body>
        <h1>Welcome to HiveCars</h1>

        {{range .Cars}}
            <div>
                <a href="http://localhost:8080/specifications/{{.ID}}">
                    <h2 href="http://localhost:8080/specifications/{{.ID}}">{{.Name}}, {{.Year}}</h2>
                </a>
                <a href="http://localhost:8080/specifications/{{.ID}}">
                  <img src="http://localhost:3000/api/images/{{.Image}}" width="400"/>
                </a>
            </div>
        {{end}}
    </body>
    </html>
