<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HiveCars</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <header class="hero">
            <h1>HiveCars</h1>
            <p>Explore vehicles from our collection</p>
        </header>

        <main class="container">
            <div class="car-grid">
                {{range .Cars}}
                <article class="car-card">
                    <a href="/specifications/{{.ID}}" class="card-link">
                        <div class="image-container">
                            <img
                                src="http://localhost:3000/api/images/{{.Image}}"
                                alt="{{.Name}}"
                            />
                        </div>

                        <div class="car-info">
                            <h3>{{.Name}}</h3>
                            <span class="year">{{.Year}}</span>
                        </div>
                    </a>
                </article>
                {{end}}
            </div>

            <div class="pagination">
                {{if .HasPrev}}
                <a href="/?page={{.PrevPage}}" class="page-btn"> ← Previous </a>
                {{end}} {{range .Pages}}
                <a
                    href="/?page={{.}}"
                    class="page-number {{if eq $.Page .}}active-page{{end}}"
                >
                    {{.}}
                </a>
                {{end}} {{if .HasNext}}
                <a href="/?page={{.NextPage}}" class="page-btn"> Next → </a>
                {{end}}
            </div>
        </main>
    </body>
</html>
